.btn{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    background: yellow;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-weight: 700;
    cursor: pointer;
}

.div{
    width: 500px;
    height: 700px;
    border: 1px solid black;
}

.din{
    width: 0px;
    height: 0px;
    border: 1px solid black;
    background: #ffff;
    position: relative;
    bottom: 0px;
}

.butons{
    display: flex;
}

.input_up{
    transform: rotate(90deg);
    position: relative;
    left: 500px;
    bottom: 400px;
}

.btn-up{
    position: relative;
    left: 500px;
    bottom: 340px;
}
.btn-lef{
    position: relative;
    left: 140px;
    bottom: 30px;
}